<br>
<h1>Edit Your Account</h1>
<br>

<div>
<ul>
<%= form_for(current_user) do |f| %>

   <li> 
    <%=  f.label :username %>
    <%=  f.text_field :username, required:true %>
    </li>
        <br>
        <br>
    <li>
    <%=  f.label :email %>
    <%=  f.email_field :email, required:true%>
    </li>
        <br>
        <br>

    <%=  f.submit "Save" %>

    <%end%>
</ul>
</div>

  <%= link_to "Delete", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>


