 <br>
 <h1>Welcome <%=current_user.username%></h1>
 <h5><%=current_user.email%></h5>
    <br>

    <br>
<div>
<h3> Clients and Locations </h3>
<br>
<body>
<ul>
    <% current_user.appointments.each do |a|%>
      <li><%= link_to a.client.name, client_path(a) %> | <%= link_to a.location.nickname, location_path(a)%> </li><br>
    <% end %>
</ul>
</body>
</div>

<br>

<%= link_to "Edit User Account", edit_user_path(:user_id)%>



