<%= form_for(@appointment) do |f| %>

<ul>
<body>
    <%= render 'client_fields', f: f, disabled: params[:action] == 'new' && params[:client_id] %>
    <br>

    <%= render 'location_fields', f: f, disabled: params[:action] == 'new' && params[:location_id] %>

    <h5>Session Information</h5>
    <li>
        <%= f.label :time %>
        <%= f.time_field :time %>
    </li>
        <br>
    <li>
        <%= f.label :date %>
        <%= f.date_field :date %>    
    </li>
        <br>
    <li>
        <%= f.label :price %>
        <%= f.number_field :price %>
    </li>
        <br>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.submit %>
</body>    
<ul> 
<% end %>