<h1>New Session</h1>

<%= form_for(@appointment) do |f| %>


<div>
  <%= f.fields_for :client, Client.new do |client_attributes|%>
  <h4>Client Information</h4>
  <li>
      <%= client_attributes.label :name, "Name:" %>
      <%= client_attributes.text_field :name %>
    </li>
      <br>
  <li>  
      <%= client_attributes.label :phone_number, "Number:" %>
      <%= client_attributes.text_field :phone_number %>
    </li>
      <br>
  <li>    
      <%= client_attributes.label :email, "Email:" %>
      <%= client_attributes.text_field :email %>
    </li>
  <% end %>
    <br>

    <%= f.fields_for :location, Location.new do |location_attributes|%>
    <h4>Location Information</h4>
    <li>
      <%= location_attributes.label :nickname, "Nickname:" %>
      <%= location_attributes.text_field :nickname %>
    </li>
      <br>
  <li>  
      <%= location_attributes.label :city, "City:" %>
      <%= location_attributes.text_field :city %>
    </li>
      <br>
  <li>    
      <%= location_attributes.label :street_address, "Street Address:" %>
      <%= location_attributes.text_field :street_address %>
    </li>
    <br>
  <li>  
      <%= location_attributes.label :state, "State:" %>
      <%= location_attributes.text_field :state %>
    </li>
      <br>
  <li>  
      <%= location_attributes.label :zipcode, "Zipcode:" %>
      <%= location_attributes.text_field :zipcode %>
    </li>
      <br>
    <% end %>

    <h4>Session Information</h4>
    <li>
        <%= f.label :appointment_time %>
        <%= f.time_select :appointment_time %>
    </li>
        <br>
    <li>
        <%= f.label :duration %>
        <%= f.time_select :duration %>    
    </li>
        <br>
    <li>
        <%= f.label :price %>
        <%= f.text_field :price %>
    </li>
        <br>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.submit "Create Session"%>
</div>    
<ul> 
<% end %>