<br>
<h1>All Locations</h1>
<br>
 <%= form_tag("/locations", method: 'get') do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<br>

 <%= render partial: "locations", locals: {locations: @locations} %>