<!DOCTYPE html>
<html>
  <head>
    <title>BasketballTrainerManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Basketball Client Management</a>
  </nav>




    <div>
      <%if logged_in?%>
      <%= link_to 'Home', user_path(:user_id) %> |
      <%= link_to 'New Session', new_appointment_path %> |
      <%= link_to 'View Sessions', appointments_path %> |
      <%= link_to 'View Clients', clients_path %> |
      <%= link_to 'View Locations', locations_path %> |
      <%= link_to "Logout", logout_path, method: "delete" %> 
     


      <%else%>
      <%= link_to 'Sign Up', signup_path %> |
      <%= link_to 'Sign In', login_path %> |
      <%= link_to 'Sign In with Facebook', '/auth/facebook' %>
      <% end %>

      </div>
    <%= yield %>
  </body>
</html>
